<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.businness.mapper.CommodityMapper">

    <select id="queryOne" resultType="com.businness.entity.Commodity">
        select * from commodity where wid=#{wid}
    </select>

    <insert id="insertOne" parameterType="com.businness.entity.Commodity">
        insert into commodity(`commodityt`,`wid`,`uploadtime`,`uploadname`)values (#{commodityt},#{wid},#{uploadtime},#{uploadname})
    </insert>
</mapper>