<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.businness.mapper.FishordersDaoMapper">
    <select id="queryAll" resultMap="fish">
        select f.*,f.id,w.id,w.status from fishorders f left JOIN workinfo w on f.wid=w.id
        <trim prefixOverrides="and|or" prefix="where">
            <if test="id!=null and id!=''">
                and f.id=#{id}
            </if>
            <if test="otime!=null and otime!=''">
                and f.ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
            <if test="statos!=null and statos!=''">
                and f.statos=#{statos}
            </if>
            <if test="nameofadvertiser!=null and nameofadvertiser!=''">
                and f.nameofadvertiser like concat('%',#{nameofadvertiser},'%')
            </if>
            <if test="channel!=null and channel!=''">
                and f.channel like concat('%',#{channel},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and f.phone=#{phone}
            </if>
            <if test="servicename!=null and servicename!=''">
                and f.servicename=#{servicename}
            </if>
            <if test="address!=null and address!=''">
                and f.address like concat('%',#{address},'%')
            </if>
        </trim>
    </select>
    <resultMap id="fish" type="com.businness.entity.FishordersEX">
        <id property="id" column="f.id" />
        <result column="id" property="id"></result>
        <result column="appointmentime" property="appointmentime"></result>
        <result column="channel" property="channel"></result>
        <result column="phone" property="phone"></result>
        <result column="name" property="name"></result>
        <result column="idcard" property="idcard"></result>
        <result column="interior" property="interior"></result>
        <result column="accept" property="accept"></result>
        <result column="servicename" property="servicename"></result>
        <result column="statos" property="statos"></result>
        <result column="ordertime" property="ordertime"></result>
        <result column="payment" property="payment"></result>
        <result column="remark" property="remark"></result>
        <result column="toproomotelinks" property="toproomotelinks"></result>
        <result column="nameofadvertiser" property="nameofadvertiser"></result>
        <result column="address" property="address"></result>
        <result column="broadband" property="broadband"></result>
        <result column="whethertorepeat" property="whethertorepeat"></result>
        <result column="paymentstate" property="paymentstate"></result>
        <result column="uploginno" property="uploginno"></result>
        <result column="failure" property="failure"></result>
        <result column="trackingtime" property="trackingtime"></result>
        <association property="wid" javaType="com.businness.entity.WorkEX">
            <id property="id" column="w.id"></id>
            <result column="id" property="id"></result>
            <result column="status" property="status"></result>
        </association>
    </resultMap>


    <insert id="insertOneEx" parameterType="com.businness.entity.FishordersEX">
            insert fishorders(`workid`,`channel`,`phone`,`name`,`idcard`,`interior`,`accept`,`statos`,`amount`,`ordertime`,`payment`,`remark`,`toproomotelinks`,`nameofadvertiser`,`address`,`appointmentime`,`ok`,`trackingtime`,`failure`,`uplogintime`,`broadband`,`isitnew`,`whethertorepeat`,`wid`)
            value (#{workid},#{channel},#{phone},#{name},#{idcard},#{interior},#{accept},#{statos},#{amount},#{ordertime},#{payment},#{remark},#{toproomotelinks},#{nameofadvertiser},#{address},null,0,null,#{failure},null,#{broadband},1,0,0)
    </insert>

    <select id="fishcount" resultType="java.util.Map">
        SELECT address,count(address) from fishorders
        <trim prefixOverrides="and|or" prefix="where">
            <if test="otime!=null and otime!=''">
                and ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
        </trim>
        GROUP BY address
    </select>
</mapper>