<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.role.mapper.InformMapper">

    <select id="querAll" resultType="com.role.entity.Inform">
        select * from inform
    </select>

    <insert id="insertOneInform" parameterType="com.role.entity.Inform" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert inform(`name`,`isoffor`,`ctime`,`disno`)value (#{name},#{isoffor},#{ctime},#{disno})
    </insert>

    <update id="updateOneInform">
        update inform
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} ">
            <if test="name!= null and name!=''">
                `name`=#{name},
            </if>
            <if test="isoffor!= 0 and isoffor!=''">
                isoffor=#{isoffor},
            </if>
            <if test="ctime!= null and ctime!=''">
                ctime=#{ctime},
            </if>
            <if test="disno!= 0 and disno!=''">
                disno=#{disno},
            </if>
        </trim>
    </update>

    <delete id="deleteOneInform">
        delete from inform where id=#{id}
    </delete>
</mapper>