<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brokerage.mapper.FishordersInfoMapper">
    <select id="queryAll" resultType="com.brokerage.entity.Fishorders">
        select * from fishorders
        <trim prefixOverrides="and|or" prefix="where">
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
            <if test="otime!=null and otime!=''">
                and ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
            <if test="statos!=null and statos!=''">
                and statos=#{statos}
            </if>
            <if test="nameofadvertiser!=null and nameofadvertiser!=''">
                and nameofadvertiser like concat('%',#{nameofadvertiser},'%')
            </if>
            <if test="channel!=null and channel!=''">
                and channel like concat('%',#{channel},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and phone=#{phone}
            </if>
            <if test="servicename!=null and servicename!=''">
                and servicename=#{servicename}
            </if>
            <if test="address!=null and address!=''">
                and address like concat('%',#{address},'%')
            </if>
            <if test="failure!=null and failure!=''">
                and failure=#{failure}
            </if>
        </trim>
    </select>

    <insert id="insertOneFish" parameterType="com.brokerage.entity.Fishorders">
             insert fishorders(`workid`,`channel`,`flow`,`phone`,`name`,`idcard`,`interior`,`accept`,`servicename`,`uploginno`,`statos`,`amount`,`ordertime`,`payment`,`remark`,`toproomotelinks`,`nameofadvertiser`,`address`,`appointmentime`,`ok`,`trackingtime`,`failure`,`uplogintime`,`broadband`,`isitnew`,`whethertorepeat`,`wid`)
            value (#{workid},#{channel},#{flow},#{phone},#{name},#{idcard},#{interior},#{accept},#{servicename},#{uploginno},#{statos},#{amount},#{ordertime},#{payment},#{remark}
            ,#{toproomotelinks},#{nameofadvertiser},#{address},null,0,#{trackingtime},#{failure},#{uplogintime},#{broadband},1,#{whethertorepeat},0)
    </insert>

    <select id="chaFid" resultType="int">
         select count(1) from fishorders where workid=#{wordid}
    </select>

    <select id="grouby" resultType="java.util.Map">
        SELECT count(statos) ,statos FROM `fishorders`
        <trim prefixOverrides="and|or" prefix="where">
            <if test="otime!=null and otime!=''">
                and ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
        </trim>
         GROUP BY statos
    </select>

    <update id="uploginno">
         update fishorders set servicename=#{servicename},isitnew=0, whethertorepeat=0 where id=#{id}
    </update>

    <update id="upstatos">
         update fishorders set statos=#{statos},ok=#{ok},isitnew=0, whethertorepeat=0,wid=#{wid} where id=#{id}
    </update>

    <select id="chaOneTian" resultType="int">
        SELECT count(1) FROM `fishorders` WHERE channel=#{channel} and phone=#{phone} and ordertime BETWEEN CONCAT(#{ordertime},' 00:00:00') AND CONCAT(#{ordertime},' 23:59:59')
    </select>

    <update id="reamrk">
        update fishorders
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} ">
          <if test="name!=null and name!=''">
            name=#{name},
          </if>
          <if test="interior!=null and interior!=''">
            interior=#{interior},
          </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard=#{idcard},
            </if>
            <if test="accept!=null and accept!=''">
                accept=#{accept},
            </if>
            <if test="payment!=null and payment!=''">
                payment=#{payment},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="appointmentime!=null and appointmentime!=''">
                appointmentime=#{appointmentime},
            </if>
            <if test="statos!=null and statos!=''">
                statos=#{statos},
            </if>
            <if test="failure!=null and failure!=''">
                failure=#{failure},
            </if>
            <if test="uplogintime!=null and uplogintime!=''">
                uplogintime=#{uplogintime},
            </if>
            <if test="trackingtime!=null and trackingtime!=''">
                trackingtime=#{trackingtime},
            </if>
            <if test="broadband!=null and broadband!=''">
                broadband=#{broadband},
            </if>
        </trim>
    </update>

    <insert id="insertOne" parameterType="com.brokerage.entity.Fishorders">
        INSERT fishorders(`channel`,`phone`,`name`,`idcard`,`interior`,`statos`,`ordertime`,`remark`,`nameofadvertiser`,`broadband`,`isitnew`,`whethertorepeat`,`wid`)
VALUES(#{channel},#{phone},#{name},#{idcard},#{interior},'待外呼',#{ordertime},#{remark},#{nameofadvertiser},#{broadband},1,#{whethertorepeat},0)
    </insert>

    <select id="chastatos" resultType="int">
        select count(1) from fishorders where id=#{id} and statos=#{statos}
    </select>

    <select id="chaOk" resultType="int">
          select ok from fishorders where id=#{id}
    </select>

    <select id="chaStotus" resultType="java.lang.String">
        select statos from fishorders where id=#{id}
    </select>

    <select id="chaServicename" resultType="java.lang.String">
        select servicename from fishorders where id=#{id}
    </select>
</mapper>