<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brokerage.mapper.ProdInMapper">

<select id="queryAll" resultType="com.brokerage.entity.Prod">
    select * from prod where id=#{id} and depaname=#{depaname}
</select>
</mapper>