<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.mapper.FishordersMapper">
    <select id="queryAll" resultMap="fish">
        select f.*,f.id,w.id,w.status from fishorders f left JOIN workinfo w on f.wid=w.id
        <trim prefixOverrides="and|or" prefix="where">
            <if test="id!=null and id!=''">
                and f.id=#{id}
            </if>
            <if test="otime!=null and otime!=''">
                and f.ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
            <if test="statos!=null and statos!=''">
                and f.statos=#{statos}
            </if>
            <if test="nameofadvertiser!=null and nameofadvertiser!=''">
                and f.nameofadvertiser like concat('%',#{nameofadvertiser},'%')
            </if>
            <if test="channel!=null and channel!=''">
                and f.channel like concat('%',#{channel},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and f.phone=#{phone}
            </if>
            <if test="servicename!=null and servicename!=''">
               and f.servicename=#{servicename}
            </if>
            <if test="address!=null and address!=''">
                and f.address like concat('%',#{address},'%')
            </if>
            <if test="name!=null and name!=''">
                and f.name like concat('%',#{name},'%')
            </if>
            <if test="broadband!=null and broadband!=''">
                and f.broadband like concat('%',#{broadband},'%')
            </if>
            <if test="idcard!=null and idcard!=''">
                and f.idcard like concat('%',#{idcard},'%')
            </if>
            <if test="failure!=null and failure!=''">
                and f.failure=#{failure}
            </if>
            <if test="areas!=null and areas!=''">
                and f.areas=#{areas}
            </if>
            <if test="channels!=null and channels!=''">
                and f.channels=#{channels}
            </if>
            <if test="undistributed==9">
                and w.status is null or w.status=''
            </if>
        </trim>
    </select>
    <resultMap id="fish" type="com.service.entity.Fishorders">
        <id property="id" column="f.id" />
        <result column="id" property="id"></result>
        <result column="appointmentime" property="appointmentime"></result>
        <result column="channel" property="channel"></result>
        <result column="channels" property="channels"></result>
        <result column="phone" property="phone"></result>
        <result column="name" property="name"></result>
        <result column="idcard" property="idcard"></result>
        <result column="interior" property="interior"></result>
        <result column="accept" property="accept"></result>
        <result column="servicename" property="servicename"></result>
        <result column="uploginno" property="uploginno"></result>
        <result column="statos" property="statos"></result>
        <result column="amount" property="amount"></result>
        <result column="ordertime" property="ordertime"></result>
        <result column="payment" property="payment"></result>
        <result column="remark" property="remark"></result>
        <result column="toproomotelinks" property="toproomotelinks"></result>
        <result column="nameofadvertiser" property="nameofadvertiser"></result>
        <result column="address" property="address"></result>
        <result column="areas" property="areas"></result>
        <result column="trackingtime" property="trackingtime"></result>
        <result column="failure" property="failure"></result>
        <result column="uplogintime" property="uplogintime"></result>
        <result column="broadband" property="broadband"></result>
        <result column="isitnew" property="isitnew"></result>
        <result column="whethertorepeat" property="whethertorepeat"></result>
        <result column="paymentstate" property="paymentstate"></result>
        <association property="wid" javaType="com.service.entity.Work">
            <id property="id" column="w.id"></id>
            <result column="id" property="id"></result>
            <result column="status" property="status"></result>
        </association>
    </resultMap>


    <insert id="insertOneFish" parameterType="com.service.entity.Fishorders" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
            insert fishorders(`workid`,`channel`,`channels`,`flow`,`phone`,`name`,`idcard`,`interior`,`accept`,`servicename`,`uploginno`,`statos`,`amount`,`ordertime`,`payment`,`remark`,`toproomotelinks`,`nameofadvertiser`,`address`,`areas`,`appointmentime`,`ok`,`trackingtime`,`failure`,`uplogintime`,`broadband`,`isitnew`,`whethertorepeat`,`wid`,`paymentstate`)
            value (#{workid},#{channel},#{channels},#{flow},#{phone},#{name},#{idcard},#{interior},#{accept},#{servicename},#{uploginno},#{statos},#{amount},#{ordertime},#{payment},#{remark}
            ,#{toproomotelinks},#{nameofadvertiser},#{address},#{areas},null,0,#{trackingtime},#{failure},#{uplogintime},#{broadband},1,#{whethertorepeat},0,#{paymentstate})
    </insert>

    <select id="chaFid" resultType="int">
         select count(1) from fishorders where workid=#{wordid} and phone=#{phone}
    </select>

    <select id="grouby" resultType="java.util.Map">
        SELECT count(statos) ,statos FROM `fishorders`
        <trim prefixOverrides="and|or" prefix="where">
            <if test="otime!=null and otime!=''">
                and ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
            <if test="nameofadvertiser!=null and nameofadvertiser!=''">
                and nameofadvertiser like concat('%',#{nameofadvertiser},'%')
            </if>
            <if test="channel!=null and channel!=''">
                and channel like concat('%',#{channel},'%')
            </if>
            <if test="servicename!=null and servicename!=''">
                and servicename=#{servicename}
            </if>
        </trim>
         GROUP BY statos
    </select>

    <update id="uploginno">
        update fishorders set servicename=#{servicename},isitnew=0 where id=#{id}
    </update>

    <update id="upstatos">
        update fishorders set statos=#{statos},ok=#{ok},isitnew=0, whethertorepeat=0,wid=#{wid} where id=#{id}
    </update>

    <select id="chaOneTian" resultType="int">
        SELECT count(1) FROM `fishorders` WHERE channel=#{channel} and channels=#{channels} and phone=#{phone} and ordertime BETWEEN CONCAT(#{ordertime},' 00:00:00') AND CONCAT(#{ordertime},' 23:59:59')
    </select>

    <update id="reamrk">
        update fishorders
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} ">
          <if test="name!=null and name!=''">
            name=#{name},
          </if>
          <if test="interior!=null and interior!=''">
            interior=#{interior},
          </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard=#{idcard},
            </if>
            <if test="accept!=null and accept!=''">
                accept=#{accept},
            </if>
            <if test="payment!=null and payment!=''">
                payment=#{payment},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="appointmentime!=null and appointmentime!=''">
                appointmentime=#{appointmentime},
            </if>
            <if test="statos!=null and statos!=''">
                statos=#{statos},
            </if>
            <if test="failure!=null and failure!=''">
                failure=#{failure},
            </if>
            <if test="uplogintime!=null and uplogintime!=''">
                uplogintime=#{uplogintime},
            </if>
            <if test="trackingtime!=null and trackingtime!=''">
                trackingtime=#{trackingtime},
            </if>
            <if test="broadband!=null and broadband!=''">
                broadband=#{broadband},
            </if>
            <if test="0==0">
                isitnew=0,
            </if>
            <if test="paymentstate!=null and paymentstate!=''">
                paymentstate=#{paymentstate},
            </if>
            <if test="channels!=null and channels!=''">
                channels=#{channels},
            </if>
            <if test="areas!=null and areas!=''">
                areas=#{areas},
            </if>
            <if test="servicename!=null and servicename!=''">
                servicename=#{servicename},
            </if>
        </trim>
    </update>

    <insert id="insertOne" parameterType="com.service.entity.Fishorders" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT fishorders(`channel`,`channels`,`phone`,`name`,`idcard`,`interior`,servicename,`statos`,`ordertime`,`remark`,`nameofadvertiser`,`broadband`,`isitnew`,`whethertorepeat`,`wid`,`paymentstate`)
VALUES(#{channel},#{channels},#{phone},#{name},#{idcard},#{interior},#{servicename},#{statos},#{ordertime},#{remark},#{nameofadvertiser},#{broadband},1,#{whethertorepeat},0,#{paymentstate})
    </insert>

    <select id="chastatos" resultType="int">
        select count(1) from fishorders where id=#{id} and statos=#{statos}
    </select>

    <select id="chaOk" resultType="int">
          select ok from fishorders where id=#{id}
    </select>

    <select id="chaStotus" resultType="java.lang.String">
        select statos from fishorders where id=#{id}
    </select>

    <select id="chaServicename" resultType="java.lang.String">
        select servicename from fishorders where id=#{id}
    </select>

    <select id="timetoremind" resultType="java.util.Map">
        select id,name,phone from fishorders where servicename=#{servicename} and trackingtime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59') and statos='待二次外呼'
    </select>

    <select id="whether" resultType="int">
        select count(1) from fishorders where phone=#{phone}
    </select>

    <select id="queryAlls" resultMap="fishs">
        select f.*,f.id,w.id,w.status from fishorders f left JOIN workinfo w on f.wid=w.id
        <trim prefixOverrides="and|or" prefix="where">
            <if test="id!=null and id!=''">
                and f.id=#{id}
            </if>
            <if test="otime!=null and otime!=''">
                and f.ordertime BETWEEN CONCAT(#{otime},' 00:00:00') AND CONCAT(#{ptime},' 23:59:59')
            </if>
            <if test="statos!=null and statos!=''">
                and f.statos=#{statos}
            </if>
            <if test="nameofadvertiser!=null and nameofadvertiser!=''">
                and f.nameofadvertiser like concat('%',#{nameofadvertiser},'%')
            </if>
            <if test="channel!=null and channel!=''">
                and f.channel like concat('%',#{channel},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and f.phone=#{phone}
            </if>
            <if test="servicename!=null">
                and f.servicename=#{servicename}
            </if>
            <if test="address!=null and address!=''">
                and f.address like concat('%',#{address},'%')
            </if>
            <if test="name!=null and name!=''">
                and f.name like concat('%',#{name},'%')
            </if>
            <if test="broadband!=null and broadband!=''">
                and f.broadband like concat('%',#{broadband},'%')
            </if>
            <if test="idcard!=null and idcard!=''">
                and f.idcard like concat('%',#{idcard},'%')
            </if>
            <if test="failure!=null and failure!=''">
                and f.failure=#{failure}
            </if>
            <if test="areas!=null and areas!=''">
                and f.areas=#{areas}
            </if>
            <if test="channels!=null and channels!=''">
                and f.channels=#{channels}
            </if>
            <if test="undistributed==9">
                and w.status is null or w.status=''
            </if>
        </trim>
    </select>
    <resultMap id="fishs" type="com.service.entity.Fishorders">
        <id property="id" column="f.id" />
        <result column="id" property="id"></result>
        <result column="appointmentime" property="appointmentime"></result>
        <result column="channel" property="channel"></result>
        <result column="channels" property="channels"></result>
        <result column="flow" property="flow"></result>
        <result column="phone" property="phone"></result>
        <result column="name" property="name"></result>
        <result column="idcard" property="idcard"></result>
        <result column="interior" property="interior"></result>
        <result column="accept" property="accept"></result>
        <result column="servicename" property="servicename"></result>
        <result column="uploginno" property="uploginno"></result>
        <result column="statos" property="statos"></result>
        <result column="amount" property="amount"></result>
        <result column="ordertime" property="ordertime"></result>
        <result column="payment" property="payment"></result>
        <result column="remark" property="remark"></result>
        <result column="toproomotelinks" property="toproomotelinks"></result>
        <result column="nameofadvertiser" property="nameofadvertiser"></result>
        <result column="address" property="address"></result>
        <result column="areas" property="areas"></result>
        <result column="trackingtime" property="trackingtime"></result>
        <result column="failure" property="failure"></result>
        <result column="uplogintime" property="uplogintime"></result>
        <result column="broadband" property="broadband"></result>
        <result column="isitnew" property="isitnew"></result>
        <result column="whethertorepeat" property="whethertorepeat"></result>
        <result column="paymentstate" property="paymentstate"></result>
        <association property="wid" javaType="com.service.entity.Work">
            <id property="id" column="w.id"></id>
            <result column="id" property="id"></result>
            <result column="status" property="status"></result>
        </association>
    </resultMap>

</mapper>