<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.mapper.OrderInfoMapper">

    <insert id="inserOne" parameterType="com.service.entity.OrderInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT orderinfo(`orderNo`,`ostats`,`subtype`,`batchmark`,`qiremarks`,`acceptancetime`,`ordertype`,`groupprdernumber`,`remarks`,`ordersource`,`acceptchannal`,`automatilmarking`,`chargemethod`,`acceptancetype`,`orderdetailsId`,`markId`,`custId`,`guwangno`,`guwangstatos`,`cwangno`,`cwangstatos`,`yuandanno`,`yuandanstatos`,`fphone`,`rowstate`)VALUES
        (#{orderNo},#{ostats},#{subtype},#{batchmark},#{qiremarks},#{acceptancetime},#{ordertype},#{groupprdernumber},#{remarks},#{ordersource},#{acceptchannal},#{automatilmarking},#{chargemethod},#{acceptancetype},#{orderdetailsId},#{markId},#{custId},#{guwangno},#{guwangstatos},#{cwangno},#{cwangstatos},#{yuandanno},#{yuandanstatos},#{fphone},#{rowstate})
    </insert>

    <update id="updateOneOrder" parameterType="com.service.entity.OrderInfo">
        UPDATE orderinfo  <trim prefix="set" suffixOverrides=",">
        <if test="ostats!=null and ostats!=''">
            ostats=#{ostats},
        </if>
        <if test="subtype!=null and subtype!=''">
            subtype=#{subtype},
        </if>
        <if test="batchmark!=null and batchmark!=''">
            batchmark=#{batchmark},
        </if>
        <if test="qiremarks!=null and qiremarks!=''">
            qiremarks=#{qiremarks},
        </if>
        <if test="acceptancetime!=null and acceptancetime!=''">
            acceptancetime=#{acceptancetime},
        </if>
        <if test="ordertype!=null and ordertype!=''">
            ordertype=#{ordertype},
        </if>
        <if test="groupprdernumber!=null and groupprdernumber!=''">
            groupprdernumber=#{groupprdernumber},
        </if>
        <if test="remarks!=null and remarks!=''">
            remarks=#{remarks},
        </if>
        <if test="ordersource!=null and ordersource!=''">
            ordersource=#{ordersource},
        </if>
        <if test="acceptchannal!=null and acceptchannal!=''">
            acceptchannal=#{acceptchannal},
        </if>
        <if test="automatilmarking!=null and automatilmarking!=''">
            automatilmarking=#{automatilmarking},
        </if>
        <if test="chargemethod!=null and chargemethod!=''">
            chargemethod=#{chargemethod},
        </if>
        <if test="acceptancetype!=null and acceptancetype!=''">
            acceptancetype=#{acceptancetype},
        </if>
        <if test="orderdetailsId!=null and orderdetailsId!=''">
            orderdetailsId=#{orderdetailsId},
        </if>
        <if test="markId!=-1">
            markId=#{markId},
        </if>
        <if test="custId!=-1">
            custId=#{custId},
        </if>
        <if test="guwangno!=null and guwangno!=''">
            guwangno=#{guwangno},
        </if>
        <if test="acceptancetype!=null and acceptancetype!=''">
            guwangstatos=#{guwangstatos},
        </if>
        <if test="cwangno!=null and cwangno!=''">
            cwangno=#{cwangno},
        </if>
        <if test="cwangstatos!=null and cwangstatos!=''">
            cwangstatos=#{cwangstatos},
        </if>
        <if test="yuandanno!=null and yuandanno!=''">
            yuandanno=#{yuandanno},
        </if>
        <if test="yuandanstatos!=null and yuandanstatos!=''">
            yuandanstatos=#{yuandanstatos},
        </if>
        <if test="fphone!=null and fphone!=''">
            fphone=#{fphone},
        </if>
        <if test="rowstate!=null and rowstate!=''">
            rowstate=#{rowstate},
        </if>
        <if test="abnormal!=-1">
            abnormal=#{abnormal},
        </if>
        <if test="createNo!=null and createNo!=''">
            createNo=#{createNo},
        </if>
        <if test="createName!=null and createName!=''">
            createName=#{createName},
        </if>
        <if test="createPhone!=null and createPhone!=''">
            createPhone=#{createPhone},
        </if>
        <if test="thefirstNo!=null and thefirstNo!=''">
            thefirstNo=#{thefirstNo},
        </if>
        <if test="thefirstPhone!=null and thefirstPhone!=''">
            thefirstPhone=#{thefirstPhone},
        </if>
        <if test="thefirstName!=null and thefirstName!=''">
            thefirstName=#{thefirstName},
        </if>
    </trim>
         where id=#{id}
    </update>

    <insert id="insertOneOrderNo" parameterType="com.service.entity.OrderInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
         INSERT orderinfo(`orderNo`,`ostats`,`acceptancetime`,`orderdetailsId`,`markId`,`custId`,`abnormal`)value(#{orderNo},#{ostats},#{acceptancetime},#{orderdetailsId},#{markId},#{custId},#{abnormal})
    </insert>
    <select id="chaOne" resultType="int">
        SELECT count(1) from orderinfo where orderNo=#{orderno}
    </select>

    <insert id="insertOne">
        INSERT INTO orderinfo(`orderNo`)VALUES(#{orderno})
    </insert>

    <select id="chaorderId" resultType="int">
        SELECT id from orderinfo where orderNo=#{orderno}
    </select>

    <select id="chaStatus" resultType="java.lang.String">
        SELECT ostates FROM `orderinfo` WHERE id=#{id}
    </select>

    <select id="chaOrderNo" resultType="java.util.Map">
        SELECT id,orderNo from orderinfo where ostats not IN('已完成','已归档','已取消','已撤单','质检回退','受理组回退'," ")
        <trim prefixOverrides="where" prefix="">
            <if test="ostats!=null and ostats!=''">
                or ostats=#{ostats}
            </if>
            <if test="acceptancetime!=null and acceptancetime!=''">
                and acceptancetime BETWEEN CONCAT(#{acceptancetime},' 00:00:00') AND CONCAT(#{acceptancetime},' 23:59:59')
            </if>
        </trim>
        ORDER BY  acceptancetime desc
    </select>

    <update id="uodataeStatus">
        UPDATE orderinfo SET ostates=#{status} WHERE orderNo=#{orderno}
    </update>

    <select id="chaOrderId" resultType="int">
        select count(1) from orderinfo where orderNo=#{orderNo}
    </select>

    <delete id="deleteOrderinfo">
        delete from orderinfo where orderNo=#{orderid}
    </delete>

</mapper>